<a href="https://colab.research.google.com/github/subhadipchatterjee2023/Python_Aug_2025/blob/main/Python_Aug_2025_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imagine that you are a developer at the ICICI bank, you are developing an application which shows the total networth of the customer on the home page.
# Assume that every customer has 5 instruments like:
# the cash balance, fixed deposits, mutual funds, recurring deposits, ppf
# Find out the total net worth.

networth = 0
cash = int(input("Enter the value: "))
networth = cash + networth
fd = int(input("Enter the value: "))
networth = fd + networth
mf = int(input("Enter the value: "))
networth = mf + networth
rd = int(input("Enter the value: "))
networth = rd + networth
ppf = int(input("Enter the value: "))
networth = ppf + networth
print(networth)

Enter the value: 1000000
Enter the value: 1000
Enter the value: 10000
Enter the value: 0000
Enter the value: 110001
1121001

In [ ]:
i = 0
networth = 0
while i < 5:
  value = int(input("Enter the value: "))
  networth = value + networth
  i = i + 1

print(networth)

Enter the value: 1000000
Enter the value: 1000000
Enter the value: 1000000
Enter the value: 1000000
Enter the value: 1000000
5000000

In [ ]:
# Imagine that you are a math teacher, you wanted to show you students a table of 5.
# print the table of 5

i = 1
while i < 11:
    print(5 * i)
    i += 1

5
10
15
20
25
30
35
40
45
50

In [ ]:
# you are a math teacher and you are explaining some newton-pascal number
# 1
# 45
# 22
# 5622
# 4556
# 3
# 59
# 392
# 540
# 30

In [ ]:
# Imagine that you are a game developer. you are developing a new game
# called as fun game.
# you have been asked the number to the user 5 times.
# user can enter any positive number or negative number
# For every positive number you will reward with 10 points
# for every negative number you will not reward anything

#  after the game completes, display the score to the user

score = 0
i = 0
while i < 5:
  num = int(input("Enter the Number: "))
  if num > 0:
    score = score + 10
  i = i + 1
print("Your Score is: ", score)

Enter the Number: 5
Enter the Number: 5
Enter the Number: 5
Enter the Number: 5
Enter the Number: 5
Your Score is:  50

In [ ]:
# Write a program to print all the even numbers between 1 to 100

i = 1
while i <= 100:
  if i % 2 == 0:
    print(i, end=" ")
  i = i + 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# Write a program to print all the odd numbers between 1 to 100

i = 1
while i <= 100:
  if i % 2 != 0:
    print(i, end=" ")
  i+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# Imagine that you are an application developer and you are building the login functionality.
# you ask the user to enter the password.
# you check if password is correct or not. if it's correct you will say login successful.
# if not correct then you allow him to try again.
# but remember maximum 3 tries are allowed.
# Assume right password is: admin

correctPassword = 'admin'
password = input("Enter the password: ")

if password == 'admin':
    print("Login Successful")
else:
  password = input("Enter the password: ")
  if password == "admin":
    print("Login Successful")
  else:
    password = input("Enter the password: ")
    if password == "admin":
      print("Login Successful")
    else:
      print("You have reached the maximum limit")

Enter the password: jld
Enter the password: lkn
Enter the password: nh
You have reached the maximum limit

In [ ]:
i = 0
while i < 3:
  password = input("Enter the password:: ")
  if password == 'admin':
    print("Login Successful")
    break
  else:
    print("Login Failed, Wrong Password")
  i = i + 1

Enter the password:: admin
Login Successful

In [ ]:
i=0
while(i < 3):
    pwd=input("enter the password ")
    if(pwd=='admin'):
        print("Successful login")
        break
    else:
        print("unsuccessful login,please try again")
        i =i + 1
        if(i == 3):
            print("you have reached max limit")

enter the password dmin
unsuccessful login,please try again
enter the password admin
Successful login

In [ ]:
# you are building an e-learning app for kids.
# it will ask the user to spell the word and it will continue running until and unless user enter the correct spelling of the word ("Hello")

# user might entered correct spelling in first time, 10th time or may in 1000th time.

i = 0
while i < 10:
  spell = input("Enter the spelling:: ")
  if spell == "Hello":
    break

Enter the spelling:: Hello

# **List**

In [ ]:
items = ["Subhadip","Arpita","Soumen","Ranu","Kripa"]
listOfIds = [1,2,3,4,5,6]
print(items)
print(type(items))
print(len(items))
print(len(listOfIds))

['Subhadip', 'Arpita', 'Soumen', 'Ranu', 'Kripa']
<class 'list'>
5
6

In [ ]:
# add elements into a list
items.append("Chatterjee")
print(items)
print(len(items))

['Subhadip', 'Arpita', 'Soumen', 'Ranu', 'Kripa', 'Chatterjee']
6

In [ ]:
# remove element from a list
items.pop()
print(items)

['Subhadip', 'Arpita', 'Soumen', 'Ranu', 'Kripa']

In [ ]:
items.pop(3)
print(items)
print(len(items))

['Subhadip', 'Arpita', 'Soumen']
3

In [ ]:
items.append("Chatterjee")
print(items)
print(len(items))

['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Chatterjee', 'Chatterjee']
6

In [ ]:
# changing the elements
items[4] = "Gopal"
print(items)
print(items[2])

['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']
Soumen

In [ ]:
i = 0
while i < len(items):
  print(items[i])
  i = i + 1

Subhadip
Arpita
Soumen
Kripa
Gopal
Chatterjee

In [ ]:
# Swap the position of 1st item element and 2nd element
items = ['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']
temp = items[0]
items[0] = items[1]
items[1] = temp
print(items)

['Arpita', 'Subhadip', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']

In [ ]:
items = ['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']
for i in items:
  print(i)

Subhadip
Arpita
Soumen
Kripa
Gopal
Chatterjee

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 11, 3):
  print(i)

1
4
7
10

In [ ]:
for i in range(1, 11, 4):
  print(i)

1
5
9

In [ ]:
for i in range(1, 11, 5):
  print(i)

1
6

In [ ]:
## Imagine that you are developing an e-commerce app like amazon.
# You have been asked to develop the "Add to cart" functionality.
# Assume your cart has to have fixed 5 items into it.
# You have to ask the user, enter the amount of each item
# Calculate the total amount.
# At the end you display each item amount one by one and then its total
# Example: input = 10, 20, 30, 40, 50
# output
# 10
# 20
# 30
# 40
# 50
# 150

items = []
i = 0
total = 0
while i < 5:
  value = int(input("Enter the amount:: "))
  items.append(value)
  total = total + value
  i = i + 1

for item in items:
  print(item)

print(total)

Enter the amount:: 10
Enter the amount:: 20
Enter the amount:: 30
Enter the amount:: 40
Enter the amount:: 50
10
20
30
40
50
150

In [ ]:
items = []
i = 0
total = 0
for i in range(5):
  value = int(input("Enter the amount:: "))
  items.append(value)
  total = total + value

for item in items:
  print(item)

print(total)

Enter the amount:: 10
Enter the amount:: 20
Enter the amount:: 30
Enter the amount:: 40
Enter the amount:: 50
10
20
30
40
50
150

In [ ]:
# Assume you are making the portfolio calculator for trading app.
# Here you asked the user the current holding amount for each share
# You calculate the total worth of the portfolio.
# You to tell which is the lowest performing stock

# Assume that you are buying a stock and you have to put a stock buy order,
# which is equal to 1% less than the current price of the stock.
# Input : current stock price
# Output : your buy order price

In [ ]:
# Assume that you are building a AI agent, now we are writing a code for it.
# I first go and fetch the youtube video script, if youtube video script contains
# anything vulgar I would not take the next step. if no vulgarity in the script
# I will publish the script as the post on Linkedin automatically.

In [ ]:
# Assume you are making the portfolio calculator for trading app.
# Here you asked the user to enter the price of each share (4 stock price)
# You to tell which is the lowest performing stock

pricelist = []
for i in range(4):
  price = int(input("Enter the stock price:: "))
  pricelist.append(price)
print(min(pricelist))

low = pricelist[0]
for price in pricelist:
  if price < low:
    low = price
print(low)

Enter the stock price:: 10
Enter the stock price:: 20
Enter the stock price:: 0
Enter the stock price:: 40
0
0

# **Dictionary**

In [ ]:
items = {
    "Apple":"Red",
    "Watermelon":"Green",
    "Orange":"Orange"
}
print(type(items))
print(items['Apple'])

<class 'dict'>
Red

In [ ]:
# Key in dictionary is unique
# search is based on key, not based on value
# Value is dictionary could be duplicate
items["Apple"] = "Green"
items["NewApple"] = "Red"
print(items)

{'Apple': 'Green', 'Watermelon': 'Green', 'Orange': 'Orange', 'NewApple': 'Red'}

In [ ]:
for key in items.keys():
  print(key)

Apple
Watermelon
Orange
NewApple

In [ ]:
for value in items.values():
  print(value)

Green
Green
Orange
Red

In [ ]:
for key,value in items.items():
  print(key, value)

Apple Green
Watermelon Green
Orange Orange
NewApple Red

In [ ]:
# Assume that you are an app developer for the Amazon. for their retail store they want to add 2 functionality
# 1. ask the user to enter 1 coupon code and its discount.
# 2. now once user finished buying ask him to enter the coupon code again for giving the discount
# 3. And print the discount

coupons = {}
code = input("Enter the coupon code:: ")
discount = int(input("Enter the discount:: "))
coupons[code] = discount

key = input("Enter the coupon you have to get the discount:: ")
print(coupons[key])

Enter the coupon code:: abc123
Enter the discount:: 10
Enter the coupon you have to get the discount:: abc123
10

In [ ]:
# Assume that you are an app developer for the Amazon. for their retail store they want to add 2 functionality
# 1. ask the manager to enter 5 coupon code and its discount.
# 2. now once user finished buying ask him to enter the coupon code again for giving the discount
# 3. And print the discount

coupons = {}
for i in range(5):
  code = input("Enter the coupon code:: ")
  discount = int(input("Enter the discount:: "))
  coupons[code] = discount

print(coupons)

key = input("Enter the coupon you have to get the discount:: ")
print(coupons[key])

Enter the coupon code:: abc123
Enter the discount:: 10
Enter the coupon code:: xyz123
Enter the discount:: 12
Enter the coupon code:: def123
Enter the discount:: 15
Enter the coupon code:: qhe123
Enter the discount:: 20
Enter the coupon code:: ght123
Enter the discount:: 25
{'abc123': 10, 'xyz123': 12, 'def123': 15, 'qhe123': 20, 'ght123': 25}
Enter the coupon you have to get the discount:: xyz123
12

In [ ]:
# Imagine you are building the cricinfo app.
# As you are admin of the app enter the name of 5 player and runs they score.
# when a user comes in to check the scores, he will be asked to enter the name of the player and you will return the runs that specific player scored.

scores = {}
for i in range(5):
  name = input("Enter the player's name:: ")
  runs = int(input("Enter the runs scored:: "))
  scores[name] = runs
print(scores)
key = input("Enter the name of the player to check the runs:: ")
print(scores[key])

Enter the player's name:: virat
Enter the runs scored:: 100
Enter the player's name:: rohit
Enter the runs scored:: 20
Enter the player's name:: yuvi
Enter the runs scored:: 20
Enter the player's name:: dhoni
Enter the runs scored:: 0
Enter the player's name:: sach
Enter the runs scored:: 2
{'virat': 100, 'rohit': 20, 'yuvi': 20, 'dhoni': 0, 'sach': 2}
Enter the name of the player to check the runs:: rohit
20

# **Libraries**

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
pip install langchain

Requirement already satisfied: langchain in /usr/local/lib/python3.11/dist-packages (0.3.27)
Requirement already satisfied: langchain-core<1.0.0,>=0.3.72 in /usr/local/lib/python3.11/dist-packages (from langchain) (0.3.72)
Requirement already satisfied: langchain-text-splitters<1.0.0,>=0.3.9 in /usr/local/lib/python3.11/dist-packages (from langchain) (0.3.9)
Requirement already satisfied: langsmith>=0.1.17 in /usr/local/lib/python3.11/dist-packages (from langchain) (0.4.10)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in /usr/local/lib/python3.11/dist-packages (from langchain) (2.11.7)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.11/dist-packages (from langchain) (2.0.42)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.11/dist-packages (from langchain) (2.32.3)
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.11/dist-packages (from langchain) (6.0.2)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from langchain-core<1.0.0,>=0.3.72->langchain) (8.5.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /usr/local/lib/python3.11/dist-packages (from langchain-core<1.0.0,>=0.3.72->langchain) (1.33)
Requirement already satisfied: typing-extensions>=4.7 in /usr/local/lib/python3.11/dist-packages (from langchain-core<1.0.0,>=0.3.72->langchain) (4.14.1)
Requirement already satisfied: packaging>=23.2 in /usr/local/lib/python3.11/dist-packages (from langchain-core<1.0.0,>=0.3.72->langchain) (25.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from langsmith>=0.1.17->langchain) (0.28.1)
Requirement already satisfied: orjson>=3.9.14 in /usr/local/lib/python3.11/dist-packages (from langsmith>=0.1.17->langchain) (3.11.1)
Requirement already satisfied: requests-toolbelt>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from langsmith>=0.1.17->langchain) (1.0.0)
Requirement already satisfied: zstandard>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from langsmith>=0.1.17->langchain) (0.23.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.7.4->langchain) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.7.4->langchain) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.7.4->langchain) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2->langchain) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2->langchain) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2->langchain) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2->langchain) (2025.8.3)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (3.2.3)
Requirement already satisfied: anyio in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (4.10.0)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (1.0.9)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (0.16.0)
Requirement already satisfied: jsonpointer>=1.9 in /usr/local/lib/python3.11/dist-packages (from jsonpatch<2.0,>=1.33->langchain-core<1.0.0,>=0.3.72->langchain) (3.0.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio->httpx<1,>=0.23.0->langsmith>=0.1.17->langchain) (1.3.1)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Sweepstakes_Acquisition_Report.csv")

In [ ]:
print(df)

     External_ID                     Email Enrollment_to_Loyalty  \
0      145411916         kentg54@gmail.com            2025-07-10
1      145408494         tmiser3@yahoo.com            2025-07-10
2      145408088  kkwestervelt@hotmail.com            2025-07-10
3      145407375     jim.barth@comcast.net            2025-07-10
4      145403992     mphsweep3@yopmail.com            2025-07-10
..           ...                       ...                   ...
689      1376158       dondowell@yahoo.com            2024-01-20
690      1375490      hgeiling@hotmail.com            2024-01-20
691      1375019        lafonddt@yahoo.com            2024-01-20
692      1374117      crazy@crazyeagle.com            2024-01-20
693      1373839       aksam58@hotmail.com            2024-01-20

    Enrollment_to_Promotion  Days_in_to_Loyalty Acquisition_Channel
0                2025-07-10                   0            mpmemail
1                2025-07-10                   0            mpmemail
2                2025-07-10                   0            mpmemail
3                2025-07-10                   0            mpmemail
4                2025-07-10                   0            mpmemail
..                      ...                 ...                 ...
689              2025-07-10                 537          mpmwebsite
690              2025-07-01                 528          mpmwebsite
691              2025-07-01                 528          mpmwebsite
692              2025-07-01                 528          mpmwebsite
693              2025-07-01                 528          mpmwebsite

[694 rows x 6 columns]

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>