<a href="https://colab.research.google.com/github/subhadipchatterjee2023/Python_Aug_2025/blob/main/Python_Aug_2025_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imagine that you are a developer at the ICICI bank, you are developing an application which shows the total networth of the customer on the home page.
# Assume that every customer has 5 instruments like:
# the cash balance, fixed deposits, mutual funds, recurring deposits, ppf
# Find out the total net worth.

networth = 0
cash = int(input("Enter the value: "))
networth = cash + networth
fd = int(input("Enter the value: "))
networth = fd + networth
mf = int(input("Enter the value: "))
networth = mf + networth
rd = int(input("Enter the value: "))
networth = rd + networth
ppf = int(input("Enter the value: "))
networth = ppf + networth
print(networth)

Enter the value: 1000000
Enter the value: 1000
Enter the value: 10000
Enter the value: 0000
Enter the value: 110001
1121001

In [ ]:
i = 0
networth = 0
while i < 5:
  value = int(input("Enter the value: "))
  networth = value + networth
  i = i + 1

print(networth)

Enter the value: 1000000
Enter the value: 1000000
Enter the value: 1000000
Enter the value: 1000000
Enter the value: 1000000
5000000

In [ ]:
# Imagine that you are a math teacher, you wanted to show you students a table of 5.
# print the table of 5

i = 1
while i < 11:
    print(5 * i)
    i += 1

5
10
15
20
25
30
35
40
45
50

In [ ]:
# you are a math teacher and you are explaining some newton-pascal number
# 1
# 45
# 22
# 5622
# 4556
# 3
# 59
# 392
# 540
# 30

In [ ]:
# Imagine that you are a game developer. you are developing a new game
# called as fun game.
# you have been asked the number to the user 5 times.
# user can enter any positive number or negative number
# For every positive number you will reward with 10 points
# for every negative number you will not reward anything

#  after the game completes, display the score to the user

score = 0
i = 0
while i < 5:
  num = int(input("Enter the Number: "))
  if num > 0:
    score = score + 10
  i = i + 1
print("Your Score is: ", score)

Enter the Number: 5
Enter the Number: 5
Enter the Number: 5
Enter the Number: 5
Enter the Number: 5
Your Score is:  50

In [ ]:
# Write a program to print all the even numbers between 1 to 100

i = 1
while i <= 100:
  if i % 2 == 0:
    print(i, end=" ")
  i = i + 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# Write a program to print all the odd numbers between 1 to 100

i = 1
while i <= 100:
  if i % 2 != 0:
    print(i, end=" ")
  i+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# Imagine that you are an application developer and you are building the login functionality.
# you ask the user to enter the password.
# you check if password is correct or not. if it's correct you will say login successful.
# if not correct then you allow him to try again.
# but remember maximum 3 tries are allowed.
# Assume right password is: admin

correctPassword = 'admin'
password = input("Enter the password: ")

if password == 'admin':
    print("Login Successful")
else:
  password = input("Enter the password: ")
  if password == "admin":
    print("Login Successful")
  else:
    password = input("Enter the password: ")
    if password == "admin":
      print("Login Successful")
    else:
      print("You have reached the maximum limit")

Enter the password: jld
Enter the password: lkn
Enter the password: nh
You have reached the maximum limit

In [ ]:
i = 0
while i < 3:
  password = input("Enter the password:: ")
  if password == 'admin':
    print("Login Successful")
    break
  else:
    print("Login Failed, Wrong Password")
  i = i + 1

Enter the password:: admin
Login Successful

In [ ]:
i=0
while(i < 3):
    pwd=input("enter the password ")
    if(pwd=='admin'):
        print("Successful login")
        break
    else:
        print("unsuccessful login,please try again")
        i =i + 1
        if(i == 3):
            print("you have reached max limit")

enter the password dmin
unsuccessful login,please try again
enter the password admin
Successful login

In [ ]:
# you are building an e-learning app for kids.
# it will ask the user to spell the word and it will continue running until and unless user enter the correct spelling of the word ("Hello")

# user might entered correct spelling in first time, 10th time or may in 1000th time.

i = 0
while i < 10:
  spell = input("Enter the spelling:: ")
  if spell == "Hello":
    break

Enter the spelling:: Hello

# **List**

In [3]:
items = ["Subhadip","Arpita","Soumen","Ranu","Kripa"]
listOfIds = [1,2,3,4,5,6]
print(items)
print(type(items))
print(len(items))
print(len(listOfIds))

['Subhadip', 'Arpita', 'Soumen', 'Ranu', 'Kripa']
<class 'list'>
5
6

In [4]:
# add elements into a list
items.append("Chatterjee")
print(items)
print(len(items))

['Subhadip', 'Arpita', 'Soumen', 'Ranu', 'Kripa', 'Chatterjee']
6

In [5]:
# remove element from a list
items.pop()
print(items)

['Subhadip', 'Arpita', 'Soumen', 'Ranu', 'Kripa']

In [11]:
items.pop(3)
print(items)
print(len(items))

['Subhadip', 'Arpita', 'Soumen']
3

In [15]:
items.append("Chatterjee")
print(items)
print(len(items))

['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Chatterjee', 'Chatterjee']
6

In [18]:
# changing the elements
items[4] = "Gopal"
print(items)
print(items[2])

['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']
Soumen

In [26]:
i = 0
while i < len(items):
  print(items[i])
  i = i + 1

Subhadip
Arpita
Soumen
Kripa
Gopal
Chatterjee

In [30]:
# Swap the position of 1st item element and 2nd element
items = ['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']
temp = items[0]
items[0] = items[1]
items[1] = temp
print(items)

['Arpita', 'Subhadip', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']

In [31]:
items = ['Subhadip', 'Arpita', 'Soumen', 'Kripa', 'Gopal', 'Chatterjee']
for i in items:
  print(i)

Subhadip
Arpita
Soumen
Kripa
Gopal
Chatterjee

In [36]:
for i in range(5):
  print(i)

0
1
2
3
4

In [39]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [41]:
for i in range(1, 11, 3):
  print(i)

1
4
7
10

In [42]:
for i in range(1, 11, 4):
  print(i)

1
5
9

In [43]:
for i in range(1, 11, 5):
  print(i)

1
6

In [53]:
## Imagine that you are developing an e-commerce app like amazon.
# You have been asked to develop the "Add to cart" functionality.
# Assume your cart has to have fixed 5 items into it.
# You have to ask the user, enter the amount of each item
# Calculate the total amount.
# At the end you display each item amount one by one and then its total
# Example: input = 10, 20, 30, 40, 50
# output
# 10
# 20
# 30
# 40
# 50
# 150

items = []
i = 0
total = 0
while i < 5:
  value = int(input("Enter the amount:: "))
  items.append(value)
  total = total + value
  i = i + 1

for item in items:
  print(item)

print(total)

Enter the amount:: 10
Enter the amount:: 20
Enter the amount:: 30
Enter the amount:: 40
Enter the amount:: 50
10
20
30
40
50
150

In [57]:
items = []
i = 0
total = 0
for i in range(5):
  value = int(input("Enter the amount:: "))
  items.append(value)
  total = total + value

for item in items:
  print(item)

print(total)

Enter the amount:: 10
Enter the amount:: 20
Enter the amount:: 30
Enter the amount:: 40
Enter the amount:: 50
10
20
30
40
50
150

In [ ]:
# Assume you are making the portfolio calculator for trading app.
# Here you asked the user the current holding amount for each share
# You calculate the total worth of the portfolio.
# You to tell which is the lowest performing stock

# Assume that you are buying a stock and you have to put a stock buy order,
# which is equal to 1% less than the current price of the stock.
# Input : current stock price
# Output : your buy order price

In [ ]:
# Assume that you are building a AI agent, now we are writing a code for it.
# I first go and fetch the youtube video script, if youtube video script contains
# anything vulgar I would not take the next step. if no vulgarity in the script
# I will publish the script as the post on Linkedin automatically.

In [60]:
# Assume you are making the portfolio calculator for trading app.
# Here you asked the user to enter the price of each share (4 stock price)
# You to tell which is the lowest performing stock

pricelist = []
for i in range(4):
  price = int(input("Enter the stock price:: "))
  pricelist.append(price)
print(min(pricelist))

Enter the stock price:: 1
Enter the stock price:: 2
Enter the stock price:: 3
Enter the stock price:: 4
1